img {
  width: 100%;
}
.carticon {
  position: relative;
}
.carticon div {
  width: 18px;
  height: 18px;
  background-color: red;
  color: white;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  box-sizing: content-box;
}

.carticon div code {
  color: #ffffff;
}